@import "./styles/variables.scss";

.quickdetailheadertext {
    // font-family: $TextFamilyVar;
    // font-style: normal;
    // font-weight: 600;
    // font-size: 48px;
    // line-height: 56px;
    color: #000000;
    padding-top: 22px;
    margin-bottom: 22px;
    @include media( "screen", "<minWidth" ){
        font-size: 2.2rem;
    };
}

.contact {
    width: 90%;
    // height: 100%;
    background: white;
    margin: 0 auto;

    &__findustext {
        font-family: $TextFamilyVar;
        line-height: 1;
        font-size: $heroFont;
        text-align: left;
        color: #000000;
        margin-top: 10rem;
        margin-bottom: 3rem;

        @include media( "screen", "<bp1Width" ){
            margin-bottom: 2rem;
            margin-top: 8rem;
        };
    }

    &__subtopic {
        justify-content: space-between; 
        display: flex;
        columns: 2;
        gap: 10rem;
        margin-bottom: 5rem;

        @include media( "screen", "<bp1Width" ){
            flex-direction: column;
            gap: 1rem;
        };

        &__headerwidth{
            width: 35.666667%;
            @include media( "screen", "<bpTabletWidth" ){
                width: 100%;
            };
        }

        &__header {
            color: #000000;
            padding-top: 22px;
            margin-bottom: 22px;

            // @include media( "screen", "<bp1Width" ){
            //     text-align: left
            // };
        }

        &__sayhelloheader {
            color: #000000;
            padding-top: 22px;
            margin-bottom: 22px;
            text-align: right;
            @include media( "screen", "<bp1Width" ){
                text-align: left
            };
        }

        &__body {
            color: #000000;
            text-align: left
        }

        &__sayhellobody {
            color: #000000;
            text-align: right;
            word-break: break-all;
            @include media( "screen", "<bp1Width" ){
                text-align: left
            };
        }
    }

    &__contactform{
        background: #D9D9D9;
        // width: 90%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 100px;
        padding-bottom: 5%;

        &__rowinput{
            width: 100%;
            justify-content: space-between;
            display: flex;
            margin-bottom: 1.7rem;
            @include media( "screen", "<bp1Width" ){
                flex-direction: column;
            };
        }

        &__rowinputitem{
            width: 40%;
            flex-direction: column;
            display: flex;

            @include media( "screen", "<bp1Width" ){
                text-align: left;
                width: 80%;
                margin-bottom: 1.7rem;
            };

            @include media( "screen", "<minWidth" ){
                text-align: left;
                width: 100%;
                margin-bottom: 1.7rem;
            };
        }

        &__rowinputitemright{
            width: 40%;
            flex-direction: column;
            display: flex;
            text-align: right;

            @include media( "screen", "<bp1Width" ){
                text-align: left;
                width: 80%;
                margin-bottom: 1.7rem;
            };

            @include media( "screen", "<minWidth" ){
                text-align: left;
                width: 100%;
                margin-bottom: 1.7rem;
            };
        }

        &__inner{
            background: #FFFFFF;
            width: 90%;
            margin: 0 auto;
            // padding: 5% 5%;
            // @include media( "screen", "<bpTabletWidth" ){
            //     padding: 5% 10px;
            // };
        }

        &__innerpadding {
            padding: 5% 5%;
        }

        &__inputline{
            width: 100%;
            // border-style: none;
            // border-color: Transparent;
            // overflow: auto;
            outline: none;
            border: 0;
        }

        &__checkboxlistcontainer{
            display: flex;
            flex-direction: column;
            margin-bottom: 1.75rem;
        }

        &__checkboxlist{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            padding-left: 30px;
            margin-top: 1.75rem;
            white-space: nowrap;
            @include media( "screen", "<bp1Width" ){
                flex-direction: column;
                column-count: 2; 
                -moz-column-count: 2; 
                -webkit-column-count: 2; 
                padding-left: 0px;
            };
        }

        &__checkbox{
            width: clamp(20px, 1vw + 0.5rem , 28px);
            // background-color: #D9D9D9;
            // color: #D9D9D9;
            accent-color: #D9D9D9;
            background: #D9D9D9;
            // border: none;
            @include media( "screen", "<bp1Width" ){
                margin-bottom: 10px
            };
        }

        &__checkboxrow{
            display: flex;
            gap: 12px;
            width: 30%;

            @include media( "screen", "<minWidth" ){
            align-items: flex-end;
        };
        }

        &__checkboxtext{
            color: #000000;
            word-break: break-all;
            // overflow: hidden;
            width: 100%;
            display: flex;
        }

        &__text{
            font-weight: 500;
            color: #000000;
        }

        &__textarea{
            min-height: 162px;
            height: 234px;
            font-size: $fontSize;
            border-style: none;
            border-color: Transparent;
            overflow: auto;
            outline: none;
            background-attachment: local;
            background-image:
                linear-gradient(to right, $whiteColor, $whiteColor $xPadding, transparent $xPadding),
                linear-gradient(to left, $whiteColor, $whiteColor $xPadding, transparent $xPadding),
                repeating-linear-gradient(
                $whiteColor,
                $whiteColor $fontSize*2-$lineWidth,
                $blackColor $fontSize*2-$lineWidth,
                $blackColor $fontSize*2
                );
            line-height: $fontSize*2;
            padding: $fontSize/3 $xPadding;
            resize: none;
        }

        &__button{
            background: transparent;
            border-radius: 4px;
            border: 2px solid $yellowColor;
            font-weight: bold;
            margin: 4px 2px;
            cursor: pointer;
            width: 11vw;
            height: 47px;
            @include media( "screen", "<maxWidth" ){
                width: 15vw;
            };
            @include media( "screen", "<bp1Width" ){
                width: 25vw;
            };
            @include media( "screen", "<minWidth" ){
                width: 43vw;
            };
        }
        &__button:hover:enabled {
            background: $yellowColor;
            color: #000000;
            transition: 0.45s ease-in all;
        }
    }
}

.errorMsg{
    background-color: #ED1C24;
    &__text {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5.03%;
        color: white;
        display: flex;
        height: 100%;
        align-items: center
    }
}

.successMsg{
    background-color: $yellowColor;
    &__text {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5.03%;
        color: black;
        display: flex;
        height: 100%;
        align-items: center
    }
}