@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/variables";


input[type=text] {
  background: transparent;
  /* border: none;
  border-bottom: 1px solid #000000; */
}

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: transparent;
}

button:disabled,
button[disabled]{
  background: #D9D9D9;
  color: #000000;
  border: none;
  transition: 0.35s ease-in all;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
