@import "./styles/variables.scss";

// .container {
//     height: calc(100vh - #{$navbarHeight});
//     background: #f09f2e;
//     background-blend-mode: color-burn;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: red;

    // @include media( "screen", "<bp1Width" ){
    //     background: blue;
    //     color: white;
    // };

//     h1 {
//         padding: 1.5rem 2.5rem;
//         background: linear-gradient(90deg, #E28400 0%, rgba(141, 141, 141, 0) 60.42%);
//         background-blend-mode: color-burn;
//     }
// }


.heroWrapper {
    position: relative;
    height: max(100vh, 760px);
    background: black;

    @include media( "screen", "<minWidthLowest" ){
        height: max(100vh, 760px);
    };
    // @include media( "screen", "<minWidthLowestMidLow" ){
    //     height: max(100vh, 1200px);
    // };
    // @include media( "screen", "<minWidthLowestLow" ){
    //     height: max(100vh, 1600px);
    // };
}
$maxImagesNumber: 3;

.servicesheroWrapper {
    position: relative;
    // width: 100vw;
    height: 100%;
}

.imageWrapper {
    z-index: -1;
    width: 100%;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade1 {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.imageLevel1 {
	animation-name: fade;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate-reverse;
    animation-delay: 2s;
}

.imageLevel2 {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
    animation-delay: 4s;
	animation-direction: alternate-reverse;
}

.imageLevel3 {
	animation-name: fade;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
	animation-duration: 2s;
    animation-delay: 8s;
	animation-direction: alternate-reverse;
}

.fadein {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.4s;
}
 
.fadein.delayed {
  animation-delay: 1.4s;
}

.containerLeft {
    margin-left: 30px;
    // margin-right: 500px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    // position: absolute;

    @include media( "screen", "<minWidth" ){
        margin-left: 0px;
        justify-content: center;
    };

    .imageLevel{
        z-index: 3;
        position: absolute;
    }

    @for $i from $maxImagesNumber through 1 {
    :nth-child(#{ $i }) {
        z-index: #{ $maxImagesNumber + ($i - 1) };
        
        // left: #{ ($i - 1) * 30 }px;
    }
    }
}

.displayImage{
    display: none;
}

.rightblackbox{
    height: 100px;
    width:0px;
    z-index: 2;
    position: absolute;
    background: black;
    // left: 37rem;
    top: 26rem;
    right: -23.7rem;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;

    @include media( "screen", "<fourkwidth" ){
        display: none;
    };
}

.rightblacktransition{
    width: 441px;
}
  
.container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    // width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;

    // @include media( "screen", "<bp1Width" ){
    //     flex-direction: column
    // };
    // @include media( "screen", "<minWidthLowest" ){
    //     top: 10%;
    // };
    // @include media( "screen", "<minWidthLowestMidLow" ){
    //     top: 10%;
    // };
}

.letschat {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: red;
    height: 100%;
    align-items: center;
    display: flex;

    @include media( "screen", "<bp1Width" ){
        margin-left: 43px;
        margin-bottom: 20px;
    };
    
    &__whoarewe {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: red;
        margin-top: 20px;
    }
}

.hero_container{
    border-left: 12px solid red;
    padding-left: 20px;
    // margin-left: 35%;
    // left: 3%;
    // margin: 0 auto;
    // width: 100%;
    z-index: 5;
    display: flex;
    position: absolute;
    flex-direction: column;
    @include media( "screen", "<bp1Width" ){
        padding-left: 11.76470588235294px;
    };
    @include media( "screen", "<minWidth400" ){
        padding-left: 6.920415224913495px;
    };
}

.rotate_text{
    transform: rotate(-0.25turn);
    font-size:  128px;//clamp(6rem, 6.25VW + 0.8125rem , 133px);
    color: white;
    font-weight: 900;
    word-break: break-word;
    // height: 100%;
    // display: flex;
    // align-items: flex-start;
    margin-left: -20px;
    // right;
    line-height: 100px;
    @include media( "screen", "<bp1Width" ){
        font-size: 71.76470588235294px;
        line-height: 85.7142857143px;
        margin-left: -11.4285714286px;
    };
    @include media( "screen", "<minWidth400" ){
        font-size: 42.21453287197232px;
        line-height: 48.9795918367px;
        margin-left: -6.53061224491px;
    };
}

.lifemarginleft{
    margin-left: -14px;
    @include media( "screen", "<bp1Width" ){
        margin-left: -8.235294117647059px;
    };
    @include media( "screen", "<minWidth400" ){
        margin-left: -4.844290657439446px;
    };
}
.hero_header_life{
    color: white;
    font-weight: 900;
    font-size: 225px;
    line-height: 180px;
    @include media( "screen", "<bp1Width" ){
        font-size: 132.3529411764706px;
        line-height: 140.571428571px;
    };
    @include media( "screen", "<minWidth400" ){
        font-size: 77.85467128027682px;
        line-height: 80.326530612px;
    };
}

.hero_header{
    color: white;
    font-weight: 900;
    font-size: 210px;//clamp(7rem, 6.25VW + 5.9375rem , 215px);
    line-height: 180px;
    margin-bottom: 14px;
    @include media( "screen", "<bp1Width" ){
        font-size: 123.5294117647059px;
        line-height: 140.571428571px;
        margin-bottom: 0px;
    };
    @include media( "screen", "<minWidth400" ){
        font-size: 72.66435986159171px;
        line-height: 80.326530612px;
        margin-bottom: 4.844290657439446px;
    };


    &__row{
        display: flex;
        align-items: center;
        z-index: 5;

        @media (max-width: 248px) {
            display: none;
        }
    }

    &__life{
        color: white;
        font-weight: 900;
        font-size: 210px;
        line-height: 180px;
        @include media( "screen", "<bp1Width" ){
            font-size: 123.5294117647059px;
            line-height: 140.571428571px;
        };
        @include media( "screen", "<minWidth400" ){
            font-size: 72.66435986159171px;
            line-height: 80.326530612px;
        };
    }

    &__second{
        color: white;
        font-weight: 900;
        font-size: 128px;
        line-height: 100px;
        margin-left: 5px;
        margin-bottom: 22px;
        @include media( "screen", "<bp1Width" ){
            font-size: 75.29411764705882px;
            line-height: 85.7142857143px;
            margin-bottom: 0px;
        };
        @include media( "screen", "<minWidth400" ){
            font-size: 44.29065743944636px;
            line-height: 48.9795918367px;
            margin-bottom: 7.612456747404844px;
            margin-left: 2px;
        };
    }

    &__alt{
        display: none;
        color: white;
        font-size: $heroBiggerFont;
        font-size: 41.7959183674px;
        line-height: 48.9795918367px;
        @media (max-width: 248px) {
            display: block;
        }
    }
}

.whoarewe_container{
    display: flex;
    position: relative;
    flex-direction: row;
    // height: max(100vh, 860px);
    // overflow: hidden;
    // align-items: center;

    // background-color: white;
    @include media( "screen", "<bp1Width" ){
        flex-direction: column;
        margin-top: 32px;
    };

    &__header{
        font-size: $heroFont;
        color: #000000;
        padding-left: 20px;
        border-left: 3px solid black;
        word-break: break-word;
        line-height: 90px;

        @include media( "screen", "<bp1Width" ){
            margin-bottom: 45px
        };
    }

    &__body{
        color: #000000;
        padding-left: 23px;
        margin-top: 40px;
        margin-bottom: 40px;
        @include media( "screen", "<bp1Width" ){
            padding-left: 0px;
            // margin-bottom: 100px;
        };
    }

    &__left{
        // height:  max(100vh, 760px);
        width: 50%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 100px;
        background: linear-gradient(to left, #bbbbbb59 0%, #fff 10%, #fff 80%);
    
        @include media( "screen", "<bp1Width" ){
            width: 100%;
            padding-left: 20px;
            padding-right: 42px;
            background: linear-gradient(to top, #bbbbbb59 0%, #fff 10%, #fff 80%);
        };
    }

    &__letschat{
        font-weight: 700;
        font-size: 20px;
        color: red;
        margin-top: min(50px, 10rem);   
        padding-bottom: 8px;
        text-decoration: underline;
        text-decoration-color: black;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;
        margin-left: 23px;
        
        @include media( "screen", "<bp1Width" ){
            margin-top: unset;   
            margin-left: unset;
            margin-bottom: 150px;
        };
    }

    &__imagecontainer{
        position: relative;
        width: 50%;
        height: 100%;
        // height:  max(100vh, 760px);
        // max-width:100%;
        // object-fit: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        @include media( "screen", "<bp1Width" ){
            width: 100%;
            height: max(100%, 600px);
        };
    }

    &__image{
        height: max(100vh, 600px);
        width: 50%;
        position: relative;
        display: flex;
        object-fit: cover;
        @include media( "screen", "<bp1Width" ){
            width: 100%;
            height: max(70vh, 600px);
            // height: max(50vh, 560px);
        };
    }
}

.services{
    background-color: #000000;
    // height:  max(100vh, 860px);
    // position: relative;
    // width: 100%;
    display: flex;
    flex-direction: column;

    &__header{
        height: 90%;
        color: rgb(255, 255, 255);
        margin-left: 20px;
        padding-left: 20px;
        font-weight: 900;
        border-left: 3px solid white;
        margin-top: 20px;
        margin-bottom: 20px;
        word-break: break-word;
    }

    &__arrow{
        width: 20px;
    }

    &__item_list{
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 30px;

        @include media( "screen", "<bp1Width" ){
            margin-right: 0px;
        };

        &__container{
            // margin-bottom: 30px;
            width: 70%;
            display: flex;
            flex-direction: column;
            // justify-content: end;

            @include media( "screen", "<bp1Width" ){
                width: 90%;
            };
        }
    }
}

.serviceitem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    
    &__top{
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        @include media( "screen", "<bp1Width" ){
            align-items: center;
        };
    }

    &__header{
        text-align: left;
        color: #F2F2F2;
        word-break: break-word;
        font-weight: 600;
    }

    &__body{
        color: #FFFFFF;
    }

    &__arrow{
        @include media( "screen", "<bp1Width" ){
            margin-right: 10px;
        };
        @include media( "screen", "<minWidth" ){
            display: none;
        };
    }

    &__arrowdrop{
        display: none;
        @include media( "screen", "<minWidth" ){
            margin-top: 30px;
            display: block;
        };
    }
}

.itemborder {
    border-bottom: 1px solid white;
}