@import "./variables.scss";

* {
    box-sizing: border-box;
    // -webkit-tap-highlight-color: transparent;
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
}

body {
    width: 100%;
    font-family: $TextFamilyVar;
}

#root {
    height: 100%;
}

h1{
    font-weight: 600;
    font-size: $h1Font;
    line-height: 56px;
    font-style: normal;
    word-break: break-word;
}

h3{
    font-weight: 600;
    font-size: $h3Font;
    line-height: 56px;
    font-style: normal;
}

p{
    font-size: $pFont;
    font-weight: 300;
    font-style: normal;
    line-height: 162.69%;
    letter-spacing: -0.01em;
}