@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap");

$TextFamilyVar: "Roboto", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$navbarHeight: 100px;

@mixin breakpoint($point) {
    @if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    }
}

// navbar color
$navbarHomeColor: #202020;
$navbarProductsColor: #000000;
$navbarExpertiseColor: #E9E9E9;
$navbarBlogColor: #E9E9E9;
$navbarContactColor: #E9E9E9;